.player-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .player-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .details {
    margin-bottom: 20px;
  }
  
  .details p {
    margin: 5px 0;
  }
  
  .photo-container {
    text-align: center;
  }
  
  .photo-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .back-button {
    display: block;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  